
body {
	font-family:'montserrat';
	color: #292D3D;
	background-color: #F2FAFF;
}

@font-face{
	font-family: "montserrat";
	src: url("Fonts/Montserrat-Regular.ttf");

	
}

@font-face{
	font-family: "montserrat-B";
	src: url("Fonts/Montserrat-Bold.ttf");
}

@font-face{
	font-family: "montserrat-v";
	src: url("Fonts/Montserrat-VariableFont_wght.ttf");
}
  
h1 {
	font-family: 'montserrat-B';
	font-size: 3rem;
	margin-bottom: 0;
	
}



h2 {
	font-family: 'montserrat-B';
	font-size: 2.25rem;
	margin-bottom: 0;
}


h3 {
	font-family: 'montserrat';
	color: #C67000;
	font-size: 1.6rem;
	margin-bottom: 0;
}


p, ol, ul {
	font-family: 'montserrat';
	max-width: 40rem;
}

h4{
	font-family: 'montserrat';
	margin-bottom: 0;
}
img {
	height: auto; 
	max-width: 100%;
	
}

.border{
	border-width: 1px;
	border-style: solid;
	border-color: black; 
}


figure {
	margin: 0;
}


figcaption {
	font-style: italic;
}

.in-text{
	font-family: 'montserrat-v';
	font-weight: 800;
}
a {
	
	color: #D91111;
	transition-property: color;
	transition-duration: 0.5s;
	
	text-decoration: none;
}


a:hover, a:focus {
	color: rgb(50,0,0); 
	text-decoration: none;
}

.introduction{
	margin-left: 1em;
}

.projtext{
	margin-left: 5em;
}

.leftmarg{
	margin-left: 5em;
}



.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
	color: white;
	background-color: rgb(50,50,50);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #F2FAFF;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #292D3D;
  text-align: center;
  padding: 0.7em;
  text-decoration: none;
  font-size: 1em;
  border-bottom-style: solid;
  border-bottom-color: #F2FAFF;
  border-bottom-width: 0.17rem;
  transition-property: border-bottom-color;
  transition-duration: 0.5s;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  border-bottom-color: #292D3D;
  color: #292D3D;
  
}

.element{
	padding-bottom: 2rem;
	border-top-width: 0.15rem;
	border-top-style: solid;
	border-top-color: #FFBC42;
	/* background-color: rgb(28, 28, 28); */
	margin-left: 1rem;	
}


/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.bottomnav{
	background-color: rgb(23, 37, 42);
	height: 200px;
	text-align: center;
	text-decoration: none;
}

.bottomnav a{
	color: white;
}


.guidebox{
	display: flex;
	flex-wrap: wrap;
	margin-top: 1em;
	justify-content: space-evenly;
}

.homebox{
	background-color: #C67000;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #F2FAFF;
	width: 100%;
}

.homeimg{
	margin-block: 2.5em;
	margin-right: 5em;
}

.imglink{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: auto; 
	max-width: 30%;
	margin-block: 2.5em;
	margin-right: 5em;
}

.imgbox{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.projimg{
	width: 20%;
	height: auto;
}

/* https://www.w3schools.com/howto/howto_css_arrows.asp */

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
  
.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
  
.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}