body {
	font-family:'montserrat';
	color: black;
	background-color: #ffffff;
	margin:0;
}

@font-face{
	font-family: "montserrat";
	src: url("Fonts/Montserrat-Regular.ttf");

	
}

@font-face{
	font-family: "montserrat-B";
	src: url("Fonts/Montserrat-Bold.ttf");
}

@font-face{
	font-family: "montserrat-v";
	src: url("Fonts/Montserrat-VariableFont_wght.ttf");
}
  
h1 {
	font-family: 'montserrat-B';
	font-size: 3rem;
	margin-bottom: 0;
	
}



h2 {
	font-family: 'montserrat-B';
	font-size: 1.8rem;
	margin-bottom: 0;
	text-align: left;
}


h3 {
	font-family: 'montserrat';
	color: #C67000;
	font-size: 1.4rem;
	margin-bottom: 0;
}


p, ol, ul {
	font-family: 'montserrat';
	max-width: 40rem;
}

h4{
	font-family: 'montserrat';
	margin-bottom: 0;
}
img {
	height: auto; 
	max-width: 100%;
	
	
}

.border{
	border-width: 1px;
	border-style: solid;
	border-color: black; 
}


figure {
	margin: 0;
}


figcaption {
	font-style: italic;
}

.in-text{
	font-family: 'montserrat-v';
	font-weight: 800;
}
a {
	
	color: #D91111;
	transition-property: color;
	transition-duration: 0.5s;
	
	text-decoration: none;
}


a:hover, a:focus {
	color: rgb(50,0,0); 
	text-decoration: none;
}

.introduction{
	margin-left: 1em;
}

.projtext{
	width: 100%;
	
}

.leftmarg{
	/* margin-left: 5em; */
	text-align: center;
}


/* Add a black background color to the top navigation */
.topnav {
	
   
    background: rgba(76, 175, 80, 0);
    overflow: hidden;
}

div.sticky{
    position: sticky;
    top: 0.7em;
	
	float: right;
	font-family: 'montserrat';
	
}
/* Style the links inside the navigation bar */
.topnav a {
	font-family: 'montserrat';
  float: left;
  color: black;
  text-align: center;
  padding: 0.7em;
  text-decoration: none;
  font-size: 1em;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  border-bottom-width: 0.17rem;
  transition-property: border-bottom-color;
  transition-duration: 0.5s;
  
}

.readbutton a{
	font-family: 'montserrat';
	background-color: white;
	color: black;
	text-decoration: none;
	margin-top: 1rem;
	
	padding: 0.5rem;
	border-style: solid;
	border-color: #000000;
	border-width: 0.07rem;
	transition-property: background-color, color;
	transition-duration: 0.5s;

}

.readbutton a:hover, .readbutton a:focus{
background-color: black;
color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
  border-bottom-color: black;
  color: black;
  
}

.element{
	padding-bottom: 2rem;
	border-top-width: 0.15rem;
	border-top-style: solid;
	border-top-color: #FFBC42;
	/* background-color: rgb(28, 28, 28); */
	margin-left: 1rem;	
}


/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.bottomnav{
	background-color: black;
	height: 200px;
	text-align: center;
	text-decoration: none;
}

.bottomnav a{
	color: white;
}


.guidebox{
	display: flex;
	flex-wrap: wrap;
	margin-top: 1em;
	justify-content: space-evenly;
}

.homebox{
	background-color:white;
	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-between;
	color: black;
	max-width: 40%;
	margin-inline: 2em;
	
}

.homebox2{
	background-color:white;
	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-between;
	color: black;
	max-width: 40%;
	margin-inline: 2em;
	padding-left: 12vw;
	
}

.homeimg{
	margin-block: 2.5em;
	margin-right: 5em;
}

.imglink{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: auto; 
	max-width: 80%;
	margin-block: 2.5em;
	
}

.imgbox{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	
}

.projimg{
	width: 20%;
	height: auto;
	
}

/* https://www.w3schools.com/howto/howto_css_arrows.asp */

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
  
.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
  
.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.bottomMarg{
	/* margin-bottom: 2rem; */
	padding-block: 2rem;

}

.projtitle{
	background-color: white;
	color: black;
	
	
}

.title{
	display: inline-block;
	padding-bottom: 0.5rem;
	border-bottom-style: solid;
	border-bottom-color:#FFBC42 ;
	border-bottom-width: 0.1rem;
}


@media screen and (max-width: 1500px) {
	.homebox{
		padding-inline: 0em;
	}
  
  
}



@media screen and (max-width: 1040px){
	.imglink{
		max-width: 70%;
		margin-left: 7em;
	}

}

@media screen and (max-width: 580px){
	.imglink, .projtext{
		
		margin-left: 0em;
	}

}

@media screen and (max-width: 800px){
	.homebox{
		
		max-width: 80%;
	}

}



.paraPadding{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 5em;
	padding-top: 2em;
}

@media screen and (max-width: 995px){
	.paraPadding, .projtext{
		
		padding-left: 0em;
	}

}

.bio{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding-bottom: 2em;
	font-size: 3rem;
	
	
}

@media screen and (max-width:780px){
	.triple{
		width:40%;
	}

	
}
@media screen and (max-width:550px){
	.brochure{
		width:80%;
		margin-left: 0rem;
	}

	
}

@media screen and (max-width:700px){
	.bio{
		padding-inline: 2em;
	}

	

}
.footer{
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	
	
	color: #ffffff;
	height:20%;
	width: 100%;
	padding-inline: 10em;
	
}

.caption{
	display: flex;
	flex-direction: column;
}

.maintext{
	font-size: 2.25rem;
}

