body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
  }
  
/* header {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
} */

main {
  padding: 20px;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.project {
  background-color: #fff;
  padding: 20px;
  transition: transform 0.5s ease-in-out;
}

.project img {
  width: 100%;
  height: 80%;
  object-fit: contain;
  /* height: auto; */
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .project-gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* Scroll Animations */
.project {
  opacity: 0;
  transform: translateY(50px);
}

.project.animated {
  opacity: 1;
  transform: translateY(0);
}


.projectSection{
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 1vw;
  margin-inline: 5%;
  
}

.image{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
}

.singleImg{
  width:30%;
  padding: 1em;
}
.singleImg2{
  width:100%;
  padding-top: 1em;
  
  
}

.paragraph{
  width: 100%;
}

.imgBox2{
  max-width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-inline: 1em;
  
  
}

.imgBox{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-inline: 1em;
  
  
}

.imgContainer{
  /* max-width: 80%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-inline: 20%;
  justify-content: center;
  padding-top: 1em;
}

.imgContainer2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  padding-inline: 10%;
  justify-content: center;
  padding-top: 1em;
}

.imgBox3{
  max-width: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-inline: 1em;
  
  
}

.homeContainer{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-inline: 10vw;


}

@media screen and (max-width:850px){
	.imgBox2{
		max-width:30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-inline: 1em;
		
	}

  .imgContainer{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-inline: 0%;
    justify-content: center;
    padding-top: 1em;
  }

	
}

